<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="card mr-4 ml-4">
			<div class="card-body">
				<h1 class="text-center">
					<span th:text="${header}" />
				</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- SMS & information system here.. -->

							<div class="alert text-center" role="alert"
								style="font-weight: bold;" th:if="${session.msg}"
								th:classappend="${session.msg.type}">
								<span th:text="${session.msg.content}"></span>
								<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
							</div>


							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/process-contact}" class="mt-2">


								<!-- Show image for Update Contact -->
								<div th:if="${contact.image}" class="container text-center mb-3">
									<img class="my_profile_image" src=""
										style="width: 150px; height: 150px;"
										th:src="@{'/image/'+${contact.image}}" alt="contact-photo" />

									<h5>Contact-Profile Image</h5>

								</div>



								<!-- Contact Id , For Update Contact -->

								<input type="hidden" th:value="${contact.cId}" name="cId">


								<!-- First Name field -->

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
											<i class="fa fa-user"></i>
										</div>
									</div>
									<input type="text" id="firstname" name="name"
										placeholder="Enter Name Here" class="form-control"
										th:value="${contact.name}"
										th:classappend="${#fields.hasErrors('name')} ? 'is-invalid':''" />

									<!-- SMS $ Infomation system here -->
									<div class="invalid-feedback" style="margin-left: 50px;"
										th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>

								</div>


								<!-- Second Name Field -->

								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="secondname" name="secondName"
										placeholder="Enter Nike Name here" class="form-control"
										th:value="${contact.secondName}" />
								</div>


								<!-- Phone Field -->

								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" id="phone" name="phone"
										placeholder="Enter phone number here" class="form-control"
										th:value="${contact.phone}"
										th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''" />

									<div class="invalid-feedback" style="margin-left: 50px;"
										th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
								</div>


								<!-- Email Field -->

								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
											<b>@</b>
										</div>
									</div>
									<input type="email" id="email" name="email"
										placeholder="Enter email id here" class="form-control"
										th:value="${contact.email}"
										th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" />

									<div class="invalid-feedback" style="margin-left: 50px;"
										th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>

								</div>


								<!-- work Field -->

								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work"
										placeholder="Enter your work here" class="form-control"
										th:value="${contact.work}" />
								</div>

								<!-- Discription field -->

								<div class="form-group mt-3">
									<textarea name="description" id="mytextarea" cols="20"
										rows="10" class="form-control"
										placeholder="Enter Contact description"
										th:text="${contact.description}"></textarea>
								</div>

								<!-- Contact Image field -->

								<input type="hidden" th:value="${contact.image}" name="image">

								<div class="custom-file">
									<input type="file" name="photo" />
								</div>

								<div class="container text-center">
									<button class="btn btn-outline-info">Save Contact</button>
									<button class="btn btn-outline-warning" type="reset">Reset</button>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>

		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>
		
		<script>

			$(document).ready(() => {
				$(".item").removeClass("clicked");
				$("#add-link").addClass("clicked");
			});

		</script>

	</section>
</body>
</html>