<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class="container text-center text-white">

			<h1>Smart-Contect-Manager</h1>
			<p>Start collecting your contacts is very smarter way. We provide
				very efficient and smarter way of handling contacts</p>
			<a href="/signup" class="btn btn-outline-info btn-lg">Get-Start</a> <a
				href="/signin" class="btn btn-outline-info btn-lg"
				style="margin-left: 10px;">Login</a>

		</div>

	</section>
</body>
</html>